.App {
  text-align: center;
}
/* 
h1{
  color: azure;
} */
/* .bgImage{
  background-image: url("./Assets/bg.jpg");
  background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
} */